@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  min-height: 100vh;
  background: url("/assets/fondo.jpg");
  /*background-color: #fff;*/
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
.box {
  min-width: 300px;
  background: #fafafa;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 150px;
  margin-top: -210px;
}

/*Media mobile*/
@media (max-width: 768px) {
  .box {
    min-width: 300px;
    background: #fafafa;
    border-radius: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 150px;
    margin-top: -270px;
  }

  .logo img{
  width: 100px;
 }
    
}

.menu{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content:space-around;
  background-color: #f6f3f3;
}

ul{
  display: flex;
  list-style: none;
}

li{
  width: 60px;
  padding-right: 100px;
}

a{
  text-decoration: none;
  color: #004289;
  font-size: 20px;
  font-weight: bold;
}
a:hover{
  color:rgb(99, 118, 155);
}



.logo img{
  width: 100px;
  padding-left: 0px;
}



.box::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  left: -5%;
  top: -5%;
  background-color: rgb(255,186,0);
  box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  z-index: -1;
}
h1 {
  font-weight: bold;
  font-size: 36px;
  padding: 0px 0;
}

.imagen{
    width: 80px;
}
.content {
  padding: 0 40px;
}
.input {
  background: #fff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px 0;
  margin-bottom: 20px;
}
.input label {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}
.input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #f6f94f;
  width: 60%;
  text-align: center;
  font-size: 28px;
  font-family: "Nunito", sans-serif;
}
button#calculate {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background: rgb(255,186,0);
  font-size: 16px;
  border-radius: 12px;
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: background 0.2s ease;
}
button#calculate:hover {
  background: #0044ff;
}
.result {
  padding: 30px 20px;
}
.result p {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}
.result #result {
  font-size: 36px;
  font-weight: 900;
  color: #4f7df9;
  background-color: #eaeaea;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
}
#comment {
  color: #4f7df9;
  font-weight: 800;
}
/* Youtube link */


.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}